<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="testimonial">
        <div class="testimonial-one">
            <p>${properties.jcr:testimonailDescription}</p>
            <h6>${properties.jcr:testimonialTitle}</h6>
            <h6>FOUNDER AND TAX DIRECTOR, MCCORMICK TAX GROUP, LLC</h6>
        </div>
        <div class="testimonial-two">
			<img src="${properties.testimonialImage}" alt="img">
        </div>
        <div class="testimonial-three">
            <h3>Reviews Tell Our Story</h3>
            <h4>Excellent</h4>
            <i class="star fa fa-star"></i>
            <i class="star fa fa-star"></i>
            <i class="star fa fa-star"></i>
            <i class="star fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>