<div class="trial">
        <div class="trial-one">
            <h2>Get Started for Free Today</h2>
            <span>
                <button class="trial-btn">Start Your Free Trial</button>
                <div class="trial-descp">
                    <p>No credit card required.</p>
                    <p>Cancel anytime.</p>
                </div>
            </span>
        </div>
        <div class="trial-two">
			<img src="${properties.trialImage}" alt="" class="trial-image">
        </div>
    </div>